@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    /* resto de tus estilos */
}
.logo-image {
    position: fixed; 
    top: 10px; 
    left: 10px; 
    opacity: 0.5; 
    width: 100px;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}
h1 {
    text-align: center;
    color: #333;
}

.form-container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    position: center; 
}

label, input, textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
}

input[type="submit"], input[type="reset"] {
    background-color: #f109e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #f109e6;
}

input[type="reset"] {
    background-color: #0000;
    color: #000000;
}

input[type="reset"]:hover {
    background-color: #f109e6;
}

.redes-sociales {
    margin-right: 10px; /* Agregar espacio entre los iconos de las redes sociales */
    font-size: 35px; /* Ajustar el tamaño de los iconos */
}
@media screen and (max-width: 600px) {
    .form-container {
        width: 90%; /* Aumenta el ancho del formulario en pantallas pequeñas */
    }

    input, textarea {
        font-size: 16px; /* Aumenta el tamaño de fuente en los campos del formulario */
    }

    .logo-image {
        width: 80px; /* Reduce el tamaño del logotipo */
    }

    footer {
        font-size: 12px; /* Reduce el tamaño de fuente en el pie de página */
    }

    .redes-sociales {
        font-size: 25px; /* Reduce el tamaño de los iconos de las redes sociales */
    }
}