@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('/static/images/vale');
    
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Para centrar horizontalmente el contenido */
}

.form-container {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: center; 
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: left;
    margin-top: 20px;
}

label, input, textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
}

input[type="submit"], input[type="reset"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="reset"] {
    background-color: #ffd900;
    color: #000000;
}

input[type="reset"]:hover {
    background-color: #83b300;
}

.redes-sociales {
    margin-right: 10px; /* Agregar espacio entre los iconos de las redes sociales */
    font-size: 35px; /* Ajustar el tamaño de los iconos */
}

.image1 {
    opacity: 0.4;
    display: block;
    margin: 0 auto;
    background-position: center; /* Centra la imagen horizontalmente */
}
