<!DOCTYPE html>
<html lang="es">
<head>
    <title>Reservaciones del día</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/coaches.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
    <img src="/static/images/logo" alt="Logotipo de la página" class="logo-image">
    <img src="/static/images/vale" class="background-image">
    <h1>Reservaciones del Día</h1>
    <table id="tablareservaciones">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Teléfono</th>
                <th>Objetivo de Fitness</th>
                <th>Reservado</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Información de Salud</th>
                <th>Preferencias Dietéticas</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <button class="button" onclick="location.href='/logout'">Cerrar sesión</button>
    <script>
        window.onload = async function() {
            const Fecha = new Date().toISOString().split('T')[0];
            const response = await fetch(`/reservaciones_del_dia/${Fecha}`);
            const Reservaciones = await response.json();
            console.log(Reservaciones);  // Imprime los datos recibidos
            if (!Array.isArray(Reservaciones)) {
                console.error('La respuesta de la API no es un array:', Reservaciones);
                return;
            }
            const tablareservaciones = document.getElementById('tablareservaciones').getElementsByTagName('tbody')[0];
            tablareservaciones.innerHTML = '';
            for (let Reservacion of Reservaciones) {
                console.log(Reservacion);  // Imprime cada reservacion
                let filaNueva = tablareservaciones.insertRow();
                if (Reservacion.Fecha) {
                    filaNueva.insertCell().innerText = Reservacion.NombreCompleto;
                    filaNueva.insertCell().innerText = Reservacion.Telefono;
                    filaNueva.insertCell().innerText = Reservacion.ObjetivoFitness;
                    filaNueva.insertCell().innerText = Reservacion.Reservado;
                    filaNueva.insertCell().innerText = Reservacion.Fecha;
                    filaNueva.insertCell().innerText = Reservacion.Hora;
                    filaNueva.insertCell().innerText = Reservacion.InformacionSalud;
                    filaNueva.insertCell().innerText = Reservacion.PreferenciasDieteticas;
                    filaNueva.insertCell().innerText = Reservacion.CorreoElectronico;
                }
            }
        }
    </script>
</body>
</html>
<footer style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: transparent; color: black; text-align: center;">
    <p>Aviso de Privacidad | © 2024 Valeria Clayton Personal Trainer. Todos los derechos reservados.</p>
    <div class="redes-sociales">
        <a href="https://wa.me/tunumerodewhatsapp" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: black;"></i></a>
        <a href="https://www.facebook.com/tupagina" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: black;"></i></a>
        <a href="https://www.instagram.com/tuinstagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="color: black;"></i></a>
        <!-- Agrega más enlaces e iconos para otras redes sociales según sea necesario -->
    </div>
 
</footer>
