<!DOCTYPE html>
<html lang="es">
<head>
    <title>Reservaciones del día</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/coaches.css">
</head>
<body>
    <h1>Reservaciones del Día</h1>
    <table id="tablareservaciones">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Teléfono</th>
                <th>Objetivo de Fitness</th>
                <th>Disponibilidad</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Información de Salud</th>
                <th>Preferencias Dietéticas</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        window.onload = async function() {
            const Fecha = new Date().toISOString().split('T')[0];
            const response = await fetch(`/reservaciones_del_dia/${Fecha}`);
            const reservaciones_del_dia = await response.json();
            console.log(reservaciones_del_dia);  // Imprime los datos recibidos
            if (!Array.isArray(reservaciones_del_dia)) {
                console.error('La respuesta de la API no es un array:', reservaciones_del_dia);
                return;
            }
            const tablareservaciones = document.getElementById('tablareservaciones').getElementsByTagName('tbody')[0];
            tablareservaciones.innerHTML = '';
            for (let Reservacion of reservaciones_del_dia) {
                console.log(Reservacion);  // Imprime cada reservacion
                let filaNueva = tablareservaciones.insertRow();
                if (Reservaciones.fecha_hora_reservacion) {
                    filaNueva.insertCell().innerText = Reservacion.NombreCompleto;
                    filaNueva.insertCell().innerText = Reservacion.Telefono;
                    filaNueva.insertCell().innerText = Reservacion.ObjetivoFitness;
                    filaNueva.insertCell().innerText = Reservacion.Disponibilidad;
                    filaNueva.insertCell().innerText = Reservacion.Fecha;
                    filaNueva.insertCell().innerText = Reservacion.Hora;
                    filaNueva.insertCell().innerText = Reservacion.InformacionSalud;
                    filaNueva.insertCell().innerText = Reservacion.PreferenciasDieteticas;
                    filaNueva.insertCell().innerText = Reservacion.CorreoElectronico;
                }
            }
        }
    </script>
</body>
</html>
