<!DOCTYPE html>
<html lang="es">
<head>
    <title>Confirmación de Reservacion de Entrenamiento</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
    <div class="main-container">
        <img src="/static/images/logo" alt="Logotipo de la página" class="logo-image">
        <img src="/static/images/vale" class="background-image">
            <div class="container">
                <h1>¡Reservación de Entrenamiento Confirmada!</h1>
                <p style="text-align: center;"> {{ message }}</p>
                <p style="text-align: center;">Gracias por reservar tu entrenamiento. Te enviaremos un recordatorio a tu WhatsApp y a tu correo electrónico.</p>
                <p style="text-align: center;">¡Esperamos verte pronto!</p>
            </div>
    </div>
</body>
</html>
<footer style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: transparent; color: black; text-align: center;">
    <p>Aviso de Privacidad | © 2024 Valeria Clayton Personal Trainer. Todos los derechos reservados.</p>
    <div class="redes-sociales">
        <a href="https://wa.me/tunumerodewhatsapp" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: black;"></i></a>
        <a href="https://www.facebook.com/tupagina" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: black;"></i></a>
        <a href="https://www.instagram.com/tuinstagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="color: black;"></i></a>
        <!-- Agrega más enlaces e iconos para otras redes sociales según sea necesario -->
    </div>
 
</footer>
