<!DOCTYPE html>
<html lang="es">
<head>
    <title>Confirmación de Reserva de Citas Médicas</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/estilo.css">
</head>
<body>
    <div class="container">
        <h1>¡Reserva de Citas Médica Confirmada!</h1>
        <p>{{ message }}</p>
        <p>Gracias por reservar tu cita. Te enviaremos un recordatorio a tu WhatsApp y a tu correo electrónico.</p>
        <p>¡Esperamos verte pronto!</p>
    </div>
</body>
</html>
