<!DOCTYPE html>
<html lang="es">
<head>
    <title>Términos y Condiciones</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/estilo2.css">
</head>
<body>
    <form id="disclaimer" action="/disclaimer" method="POST">
        <h2 style="text-align: center;">Términos y Condiciones del Servicio de Entrenamiento Personal</h2>
        <p style="text-align: justify;">Al marcar esta casilla, confirmo que he leído y entendido los términos y condiciones del servicio de entrenamiento personal. Entiendo que el servicio incluye entrenamiento personalizado y asesoría nutricional diseñados para ayudarme a alcanzar mis metas de salud y fitness.
            
            Entiendo que el equipo de profesionales dedicados proporcionará planes de entrenamiento y dietas personalizadas que se ajusten a mi estilo de vida y necesidades individuales. Si elijo perder peso, ganar músculo, mejorar mi rendimiento deportivo o simplemente llevar un estilo de vida más saludable, entiendo que el equipo está aquí para guiarme en cada paso del camino.
            
            Confirmo que la información que he proporcionado es precisa y completa. Entiendo que es mi responsabilidad informar al equipo de cualquier cambio en mi salud o condición física.
            
            Al aceptar el examen médico, entiendo que es un plus del servicio y que el equipo está formado por un entrenador, un médico y un nutricionista.
            
            Entiendo que es mi responsabilidad seguir las instrucciones y recomendaciones proporcionadas por el equipo. Si tengo alguna pregunta o preocupación, me pondré en contacto con el equipo para obtener aclaraciones.
            
            Acepto los términos y condiciones del servicio de entrenamiento personal.</p>
            <input type="hidden" id="fileDownloadToken" name="fileDownloadToken">
            <div style="text-align: center; color: #1880C0;">
                <label for="Consentimiento">
                    <input type="checkbox" id="Consentimiento" name="Consentimiento" required>
                Acepto los términos y condiciones del servicio.
                </label>
            </div>    
        </form>
        <script>
        document.getElementById('Consentimiento').addEventListener('change', function() {
            if (this.checked) {
                // Cerrar la ventana actual
                window.close();
                // Redirigir al usuario a la página principal
                window.location.href = "/templates/index.html";
            }
        });
        </script>
    </body>
    </html>