<!DOCTYPE html>
<html lang="es">
<head>
    <title>Términos y Condiciones</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/estilo2.css">
</head>
<body>
    <form id="disclaimer" action="/disclaimer" method="POST">
        <h2 style="text-align: center;">Términos y Condiciones del Servicio de Entrenamiento Personal</h2>
        <p style="text-align: justify;">Al marcar esta casilla, confirmo que he leído y entendido los términos y condiciones del servicio de entrenamiento personal. Entiendo que el servicio incluye entrenamiento personalizado y asesoría nutricional diseñados para ayudarme a alcanzar mis metas de salud y fitness.
            
            Entiendo que el equipo de profesionales dedicados proporcionará planes de entrenamiento y dietas personalizadas que se ajusten a mi estilo de vida y necesidades individuales. Si elijo perder peso, ganar músculo, mejorar mi rendimiento deportivo o simplemente llevar un estilo de vida más saludable, entiendo que el equipo está aquí para guiarme en cada paso del camino.
            
            Confirmo que la información que he proporcionado es precisa y completa. Entiendo que es mi responsabilidad informar al equipo de cualquier cambio en mi salud o condición física.
            
            Al aceptar el examen médico, entiendo que es un plus del servicio y que el equipo está formado por un entrenador, un médico y un nutricionista.
            
            Entiendo que es mi responsabilidad seguir las instrucciones y recomendaciones proporcionadas por el equipo. Si tengo alguna pregunta o preocupación, me pondré en contacto con el equipo para obtener aclaraciones.
            
            Acepto los términos y condiciones del servicio de entrenamiento personal.</p>
            <input type="hidden" id="fileDownloadToken" name="fileDownloadToken">
            <div style="text-align: center; color: #1880C0;">
                <label for="Consentimiento">
                    <input type="checkbox" id="Consentimiento" name="Consentimiento" required>
                Acepto los términos y condiciones del servicio.
                </label>
            </div>    
            <input type="submit" value="Aceptar">
    </form>
        <script>
        document.getElementById('disclaimer').addEventListener('submit', function(e) {
            e.preventDefault();
            var form = this;
            var fileDownloadCheckTimer;
            var flag = new Date().getTime().toString(); // Use the current timestamp as a unique string.
            var cookieValue;
            var attempts = 15; // The number of times to check for the cookie.
    
            function getCookie(name) {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i];
                    var [key, value] = cookie.split('=').map(c => c.trim());
                    if (key === name) {
                        return value;
                    }
                }
                return null;
            }
    
            function checkFileDownloadComplete() {
                cookieValue = getCookie('fileDownloadToken');
                if (cookieValue === flag || attempts === 0) {
                    clearInterval(fileDownloadCheckTimer);
                    document.cookie = 'fileDownloadToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'; // Clear the cookie
                    window.close();
                }
                attempts--;
            }
    
            document.cookie = 'fileDownloadToken=' + flag + '; path=/;'; // Set a cookie
            fileDownloadCheckTimer = window.setInterval(checkFileDownloadComplete, 1000); // Check for the cookie every second
            document.getElementById('fileDownloadToken').value = flag; // Set the value of the hidden field
            form.submit();
        });
        </script>
</body>
</html>