<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio de Sesión</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
    <img src="/static/images/logo" alt="Logotipo de la página" class="logo-image">
    <img src="/static/images/vale" class="background-image">
    <div class="form-container">
        <h1>Inicio de Sesión</h1>
        <form action="login" name="" method="POST">
            <label for="CorreoElectronico">Usuario:</label>
            <input type="text" id="CorreoElectronico" name="CorreoElectronico" required placeholder="Escriba su Correo Electrónico">

            <label for="plain_password">Contraseña:</label>
            <input type="password" id="plain_password" name="plain_password" placeholder="Escriba su Contraseña">
            <input type="submit" name="submit" id="submit" value="Iniciar Sesion">
    </div>

</body>
</html>
<footer style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: transparent; color: black; text-align: center;">
    <p>Aviso de Privacidad | © 2024 Valeria Clayton Personal Trainer. Todos los derechos reservados.</p>
    <div class="redes-sociales">
        <a href="https://wa.me/tunumerodewhatsapp" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp" style="color: black;"></i></a>
        <a href="https://www.facebook.com/tupagina" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook" style="color: black;"></i></a>
        <a href="https://www.instagram.com/tuinstagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram" style="color: black;"></i></a>
        </div>
 
</footer>