<!DOCTYPE html>
<html lang="es">
<head>
    <title>Citas del día</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/terapias.css">
    
    <script>
        window.onload = async function() {
            const fecha = new Date().toISOString().split('T')[0];
            const response = await fetch(`/citas_del_dia/${fecha}`);
            const citas = await response.json();
            console.log(citas);  // Imprime los datos recibidos
            if (!Array.isArray(citas)) {
                console.error('La respuesta de la API no es un array:', citas);
                return;
            }
            const tablaCitas = document.getElementById('tablaCitas').getElementsByTagName('tbody')[0];
            tablaCitas.innerHTML = '';
            for (let cita of citas) {
                console.log(cita);  // Imprime cada cita
                let filaNueva = tablaCitas.insertRow();
                if (cita.fecha_hora_cita) {
                    filaNueva.insertCell().innerText = cita.nombre_completo;
                    filaNueva.insertCell().innerText = cita.edad;
                    filaNueva.insertCell().innerText = cita.telefono;
                    filaNueva.insertCell().innerText = cita.fecha_hora_cita;
                    filaNueva.insertCell().innerText = cita.motivo_cita;
                    filaNueva.insertCell().innerText = cita.notas_cita;
                    filaNueva.insertCell().innerText = cita.correo_electronico;
                }
            }
        }
    </script>
</head>
<body>
    <h1>Citas del día</h1>
    <table id="tablaCitas">
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>Fecha y hora de la cita</th>
                <th>Motivo de la cita</th>
                <th>Notas de la cita</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>